.row{
	margin:100px auto;
}

.profile{
	padding:70px 10px 10px;
	background-color:#efefef;
}
.profile img{
	top:-60px;
	position:absolute;
	left:calc(50% - 20%);
	border:10px solide white;	
}
.user{
  width:120px;
  height:120px;
  border-radius:50%;
  
}
.profile h3{
	font-size:20px;
	margin-top:15px;
	color:orange;
}
 span
 {
	 font-size:12px;
	 color:#333;
 }
 blockquote{
	 font-size:16px;
	 line-height:30px;
 }
 blockquote::before
 {
	 content:'\93';
	 font-size:50px;
	 position:relative;
	 color:#ff9800;
	 line-height:20px;
	 bottom:-15px;
	 right:5px;
 }
 blockquote::after{
	 content:'\94';
	 font-size:50px;
	 position:relative;
	 color:#ff9800;
	 line-height:10px;
	 bottom:-15px;
	 left:5px;
 }
 .profile:hover{
	 box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
 }